// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as CambApi from "../../../index.js";

export declare namespace SubtitlesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SubtitlesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SubtitlesClient.Options>;

    constructor(options: SubtitlesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {CambApi.BodyCreateSubtitleSubPost} request
     * @param {SubtitlesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CambApi.UnprocessableEntityError}
     *
     * @example
     *     await client.subtitles.createSubtitle({
     *         source_language: 1,
     *         media_url: "https://example.com/audio.mp3",
     *         target_languages: [1]
     *     })
     */
    public createSubtitle(
        request: CambApi.BodyCreateSubtitleSubPost,
        requestOptions?: SubtitlesClient.RequestOptions,
    ): core.HttpResponsePromise<CambApi.OrchestratorPipelineCallResult> {
        return core.HttpResponsePromise.fromPromise(this.__createSubtitle(request, requestOptions));
    }

    private async __createSubtitle(
        request: CambApi.BodyCreateSubtitleSubPost,
        requestOptions?: SubtitlesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CambApi.OrchestratorPipelineCallResult>> {
        const _body = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CambApiEnvironment.Default,
                "sub",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 300) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CambApi.OrchestratorPipelineCallResult,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new CambApi.UnprocessableEntityError(
                        _response.error.body as CambApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CambApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/sub");
    }

    /**
     * @param {CambApi.GetSubtitleTaskStatusSubTaskIdGetRequest} request
     * @param {SubtitlesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CambApi.UnprocessableEntityError}
     *
     * @example
     *     await client.subtitles.getSubtitleTaskStatus({
     *         task_id: "task_id"
     *     })
     */
    public getSubtitleTaskStatus(
        request: CambApi.GetSubtitleTaskStatusSubTaskIdGetRequest,
        requestOptions?: SubtitlesClient.RequestOptions,
    ): core.HttpResponsePromise<CambApi.OrchestratorPipelineResult> {
        return core.HttpResponsePromise.fromPromise(this.__getSubtitleTaskStatus(request, requestOptions));
    }

    private async __getSubtitleTaskStatus(
        request: CambApi.GetSubtitleTaskStatusSubTaskIdGetRequest,
        requestOptions?: SubtitlesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CambApi.OrchestratorPipelineResult>> {
        const { task_id: taskId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CambApiEnvironment.Default,
                `sub/${core.url.encodePathParam(taskId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 300) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CambApi.OrchestratorPipelineResult, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new CambApi.UnprocessableEntityError(
                        _response.error.body as CambApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CambApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/sub/{task_id}");
    }

    /**
     * @param {CambApi.GetSubtitleResultSubResultRunIdGetRequest} request
     * @param {SubtitlesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CambApi.UnprocessableEntityError}
     *
     * @example
     *     await client.subtitles.getSubtitleResult({
     *         run_id: 1
     *     })
     */
    public getSubtitleResult(
        request: CambApi.GetSubtitleResultSubResultRunIdGetRequest,
        requestOptions?: SubtitlesClient.RequestOptions,
    ): core.HttpResponsePromise<CambApi.SubtitleResultResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getSubtitleResult(request, requestOptions));
    }

    private async __getSubtitleResult(
        request: CambApi.GetSubtitleResultSubResultRunIdGetRequest,
        requestOptions?: SubtitlesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CambApi.SubtitleResultResponse>> {
        const { run_id: runId, format_type: formatType, data_type: dataType } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (formatType != null) {
            _queryParams.format_type = formatType;
        }

        if (dataType != null) {
            _queryParams.data_type = dataType;
        }

        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CambApiEnvironment.Default,
                `sub-result/${core.url.encodePathParam(runId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 300) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CambApi.SubtitleResultResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new CambApi.UnprocessableEntityError(
                        _response.error.body as CambApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CambApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/sub-result/{run_id}");
    }

    /**
     * @param {CambApi.GetSubtitleResultForLanguageSubResultRunIdLanguageGetRequest} request
     * @param {SubtitlesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CambApi.UnprocessableEntityError}
     *
     * @example
     *     await client.subtitles.getSubtitleResultForLanguage({
     *         run_id: 1,
     *         language: 1
     *     })
     */
    public getSubtitleResultForLanguage(
        request: CambApi.GetSubtitleResultForLanguageSubResultRunIdLanguageGetRequest,
        requestOptions?: SubtitlesClient.RequestOptions,
    ): core.HttpResponsePromise<CambApi.SubtitleResultResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getSubtitleResultForLanguage(request, requestOptions));
    }

    private async __getSubtitleResultForLanguage(
        request: CambApi.GetSubtitleResultForLanguageSubResultRunIdLanguageGetRequest,
        requestOptions?: SubtitlesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CambApi.SubtitleResultResponse>> {
        const { run_id: runId, language, format_type: formatType, data_type: dataType } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (formatType != null) {
            _queryParams.format_type = formatType;
        }

        if (dataType != null) {
            _queryParams.data_type = dataType;
        }

        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CambApiEnvironment.Default,
                `sub-result/${core.url.encodePathParam(runId)}/${core.url.encodePathParam(language)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 300) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CambApi.SubtitleResultResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new CambApi.UnprocessableEntityError(
                        _response.error.body as CambApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CambApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/sub-result/{run_id}/{language}",
        );
    }

    /**
     * @param {CambApi.GetSubtitleResultsSubResultsPostRequest} request
     * @param {SubtitlesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CambApi.UnprocessableEntityError}
     *
     * @example
     *     await client.subtitles.getSubtitleResults({
     *         body: {
     *             run_ids: [1]
     *         }
     *     })
     */
    public getSubtitleResults(
        request: CambApi.GetSubtitleResultsSubResultsPostRequest,
        requestOptions?: SubtitlesClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, CambApi.SubtitleResultResponse>> {
        return core.HttpResponsePromise.fromPromise(this.__getSubtitleResults(request, requestOptions));
    }

    private async __getSubtitleResults(
        request: CambApi.GetSubtitleResultsSubResultsPostRequest,
        requestOptions?: SubtitlesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, CambApi.SubtitleResultResponse>>> {
        const { traceparent, format_type: formatType, data_type: dataType, body: _body } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (formatType != null) {
            _queryParams.format_type = formatType;
        }

        if (dataType != null) {
            _queryParams.data_type = dataType;
        }

        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ traceparent: traceparent !== undefined ? traceparent : undefined }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CambApiEnvironment.Default,
                "sub-results",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 300) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Record<string, CambApi.SubtitleResultResponse>,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new CambApi.UnprocessableEntityError(
                        _response.error.body as CambApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CambApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/sub-results");
    }
}
